html {
  position: relative;
  min-height: 100%;
  background-color:#e8e6e1 !important;
   }

body {
  overflow-x: hidden;
  background-color:#e8e6e1 !important;
  font-family: 'Nunito', sans-serif;
  }

body.sticky-footer {
  margin-bottom: 56px; }
  body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px - 56px); }

body.fixed-nav {
  padding-top: 56px; }
.card{
	max-width:1250px;
	margin-top:20px;
}
.no-pad{
	padding-left:0px;
	padding-right:0px;
}
.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
  position:relative;
   }
 .navbar{
	 padding: .6rem 1rem;
 }

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px; }
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white; }
  .scroll-to-top:hover {
    background: #343a40; }
  .scroll-to-top i {
    font-weight: 800; }

.smaller {
  font-size: 0.7rem; }

.o-hidden {
  overflow: hidden !important; }

.z-0 {
  z-index: 0; }

.z-1 {
  z-index: 1; }

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh; }
  #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer; }
  #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    float: right;
    content: '\f107';
    font-family: 'FontAwesome'; }
  #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
    content: '\f105'; }
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
    padding-left: 0; }
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
      display: block;
      padding: 0.5em 0; }
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
        text-decoration: none; }
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
    padding-left: 1em; }
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
    padding-left: 2em; }
  #mainNav .navbar-collapse .sidenav-toggler {
    display: none; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    position: relative;
    margin-right:20px; }/*min-width: 45px;*/
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
      float: right;
      width: auto;
      content: '\f105';
      border: none;
      font-family: 'FontAwesome'; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
      position: absolute;
      top: 5px;
      left: 21px;
      font-size: 10px; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
    content: '\f107'; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    overflow: hidden;
    max-width: none;
    text-overflow: ellipsis; }
	
.bg-dark{
	background-color:#3e3e3e !important;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav{
	background-color:#3e3e3e !important;
	padding-top:10px;
}
#mainNav .navbar-collapse .navbar-sidenav{
	margin-top:50px !important;
	
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link{
	color:#fff !important;
}
.content-wrapper{
	padding-top: 4rem;
	background-color:#e8e6e1 !important;
}
.breadcrumb-wrap{
	background-color:#FFF;
	height:40px;
}
.breadcrumb-con{
	max-width:1250px;
	padding-left:0px;
	padding-right:0px;
}
.breadcrumb{
	background-color:#FFF;
	padding-top:2px;
	padding-bottom:1px;
}
.card-header{
	background-color:#FFF;
}
.global-boxlist__item {
    min-width: 120px;
    width: 100%;
    height: 8rem;
    border: 2px solid #e8e6e1;
    background-color: #fff;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    color: #3e3e3e;
}
.r-pad{
	padding-right:40px;
}
.l-pad{
	padding-left:30px;
}
.conf-bx{
	margin:15px 15px 15px 15px;
	
}
.clr-item:nth-child(1) i{
    color: forestgreen;
}

.clr-item:nth-child(2) i{
    color: rebeccapurple;
}

.clr-item:nth-child(3) i {
    color: orangered;
}

.clr-item:nth-child(4) i {
    color: royalblue;
}

.clr-item:nth-child(5) i {
    color: mediumseagreen;
}

.clr-item:nth-child(6) i {
    color: darkred;
}

.clr-item:nth-child(7) i {
    color: goldenrod;
}

.global-boxlist__item:hover {
/*    transform: scale(1.2);*/
/*    transition: all 0.4s ease-in;*/
    
    color: linen;
/*    animation: boxhover 4s linear infinite;*/
}

.conf-bx:nth-child(1) .global-boxlist__item:hover, .conf-bx:nth-child(1) .global-boxlist__item:hover i {
    background-color: forestgreen;
    color: linen;
}

.global-boxlist__item:hover i {
    transition: transform .6s ease-in-out;
    transform: rotate(360deg);
}

.conf-bx:nth-child(2) .global-boxlist__item:hover, .conf-bx:nth-child(2) .global-boxlist__item:hover i {
    background-color: rebeccapurple;
    color: linen;
}

.conf-bx:nth-child(3) .global-boxlist__item:hover, .conf-bx:nth-child(3) .global-boxlist__item:hover i {
    background-color: orangered;
    color: linen;
}

.conf-bx:nth-child(4) .global-boxlist__item:hover, .conf-bx:nth-child(4) .global-boxlist__item:hover i {
    background-color: royalblue;
    color: linen;
}

.conf-bx:nth-child(5) .global-boxlist__item:hover, .conf-bx:nth-child(5) .global-boxlist__item:hover i {
    background-color: mediumseagreen;
    color: linen;
}

.conf-bx:nth-child(6) .global-boxlist__item:hover, .conf-bx:nth-child(6) .global-boxlist__item:hover i {
    background-color: darkred;
    color: linen;
}

.conf-bx:nth-child(7) .global-boxlist__item:hover, .conf-bx:nth-child(7) .global-boxlist__item:hover i {
    background-color: goldenrod;
    color: linen;
}
.conf-bx:nth-child(8) .global-boxlist__item:hover, .conf-bx:nth-child(8) .global-boxlist__item:hover i {
    background-color: #3e3e3e;
    color: linen;
}


.boxlist-item__heading {
/*    background-color: red;*/
    width: 100%;
    height: 30%;
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.25rem;
    padding-top: 1rem;
/*    margin-top: 0.5rem;*/
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    z-index: 20;
}
.boxlist-item__heading {
    /* background-color: red; */
    width: 100%;
    height: 30%;
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.25rem;
    padding-top: 1rem;
    /* margin-top: 0.5rem; */
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    z-index: 20;
}

.boxlist-item__heading--small {
/*    background-color: red;*/
    width: 100%;
    height: 30%;
    color: inherit;
    font-size: 0.68rem;
    font-weight: 700;
    padding: 0.25rem;
    padding-top: 1rem;
/*    margin-top: 0.5rem;*/
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    z-index: 20;
}

.boxlist-item__iconbox {
/*    background-color: dimgrey;*/
    width: 50%;
    height: 70%;
    padding: 1rem 0.5rem 1rem 1.8rem;
    box-sizing: border-box;
/*    background-image: url(../img/common/80842-200.png);*/
    background-color: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxlist-item__counter {
/*    background-color: green;*/
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    height: auto;
    top: auto;
    text-align: center;
    font-weight: 600;
/*    padding: 0.5rem;*/
/*    padding-top: 20%;*/
    box-sizing: border-box;
    font-size: 2rem;
    justify-content: center;
}

.global-boxlist__item:last-child {
/*    background-color: transparent;*/
/*    visibility: hidden;*/
}
.accordion-heading{
	background-color:#000000;
	color:#fff;
	
	
}
.accordion-group{
	border:1px #000 solid;
	margin-bottom:20px;
}
.accordion-toggle{
	text-decoration:none !important;
	color:#fff;
	font-size:12px;
	display:block;
	padding:4px 10px 6px 10px;
}
.accordion-toggle:hover{
	color:#fff;
}
.accordion-body{
	font-size:12px;
}
.accordion-body p{
	padding:10px;
	
}
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float: right;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}



@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px; }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none; }
    #mainNav .navbar-collapse .navbar-sidenav {
      position: absolute;
      top: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 56px; }
      #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
        width: 250px;
        padding: 0; 
		border-bottom:1px #fff solid;
		}
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
          padding: 6px 6px 6px 16px; }
		  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link i{
			  margin-right:12px;
			  width:14px;
		  }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
          padding-left: 0;
          list-style: none; }
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
            width: 250px; }
            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
              padding: 1em; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
          padding-left: 2.75em; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
          padding-left: 3.75em; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
      min-width: 0; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
        width: 24px;
        text-align: center; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
      max-width: 300px; } }

#mainNav.fixed-top .sidenav-toggler {
  display: none; }
/*table style  */
.table{
	border:1px #000 solid;
}
  .table thead th{
	  border-color:#000;
	  border-bottom:1px #000 solid;
	  padding-top:4px;
	  padding-bottom:4px;
	  font-size:14px;
	  font-weight:lighter;
	  
  }
  .table td{
	  padding-top:4px;
	  padding-bottom:4px;
	  font-size:12px;
  }
 /*data table style*/ 
.dataTable{
	border-top:0px;
	border-bottom:0px;
 }
.dataTable td{
	border-bottom:1px #000 solid;
	padding-top:8px;
	  padding-bottom:2px;
}
.dataTable th{
	border-bottom:1px #000 solid;
	padding-top:4px;
	  padding-bottom:4px;
}
#no-sort{
	pointer-events: none!important; cursor: default!important; 
}
table.dataTable thead #no-sort::before{
	display:none !important;
}
table.dataTable thead #no-sort::after{
	display:none !important;
}
table.dataTable thead #no-sort-check::before{
	display:none !important;
}
table.dataTable thead #no-sort-check::after{
	display:none !important;
}
.table .btn-default{
	box-shadow:none;
	cursor:pointer;
	border:1px #333 solid;
	font-size:12px;
	padding:3px 6px;
	border-radius:3px;
	margin-right:2px;
}
.table-bordered{
	font-size:14px;
}

.dataTables_filter{
	float:right;
}
.dataTables_length{
	float:left;
}
.dt-buttons{
	margin-bottom:15px;
}
.btn-blue{
	border-color:#3eb0f7 !important;
	background-color:#fff !important;
	box-shadow:none !important;
	padding:5px 18px !important;
	color:#3eb0f7 !important;
	background-image:none !important;
	margin-right:15px !important;
}
.btn-blue:hover{
	background-color:#3eb0f7 !important;
	color:#fff !important;
}
.btn-blue i{
	margin-left:10px !important;
}
.btn-orange{
	border-color:#ea1e1e !important;
	background-color:#fff !important;
	padding:5px 18px !important;
	color:#ea1e1e !important;
	margin-right:25px !important;
	background-image:none !important;
}
.btn-orange:hover{
	background-color:#ea1e1e !important;
	color:#fff !important;
}
.btn-orange i{
	margin-left:10px !important;
}
.dataTables_length{
	font-size:14px;
	color:#333;
}
.form-control-sm{
	border-color:#000 !important;
	padding:3px 18px 5px 3px !important;
	text-align:left !important;
	height:33px !important;
	margin-left:5px !important;
	border:1px #000 solid !important;
	border-radius:4px !important;
	
}
div.dataTables_wrapper div.dataTables_length select{
	width:86px !important;
}
select {
padding:4px;
margin: 0;
background: #fff;
color:#888;
border:none;
outline:none;
display: inline-block;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
cursor:pointer;
width: 180px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

#mainNav.fixed-top .sidenav-toggler{
	margin-top:0px !important;
	top: 19px !important;
	left: 243px !important;
	z-index:1000 !important;
	
}
#mainNav.fixed-top .navbar-sidenav{
	height: calc(100vh - 0px) !important;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler{
	background:none !important;
	
}
#mainNav.fixed-top .sidenav-toggler > .nav-item{
	width:55px !important;
	height:50px;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler a {
	background:url(../images/Hamburger.jpg) no-repeat center center;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
.dataTables_wrapper select {padding-right:18px}
}

.dataTables_wrapper label {position:relative}
.dataTables_length label:after {
content:"\f078";   
font-family: "FontAwesome";
font-size: 11px;
color:#494949;
right:8px; top:4px;
padding:5px 0 2px;
position:absolute;
pointer-events:none;
}

.content-wrapper{
	position:relative !important;
}
.navbar-brand{
	position:fixed !important;
	top:0px !important;
	left:56px !important;
	z-index:9989 !important;
}
#mainNav .navbar-collapse .navbar-sidenav{
	overflow:inherit !important;
}
.toglle-but{
	position:fixed;
	width:46px;
	height:34px;
	top:12px;
	z-index:9989;
	cursor:pointer;
	left:6px;
	background:url(../images/close-but.png) no-repeat center center;
}
.overlay{
	background-color: rgba(0, 0, 0, 0.3);
	position:absolute;
	top:0px;
	left:250px;
	width:100%;
	height:100%;
	z-index:10000;
	
}
.r-overlay{
	background-color: rgba(0, 0, 0, 0.3);
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:9999;
	display:none;
}
.sidenav-toggled .overlay{
	display:none;
}
.dropdown-toggle::after{
	display:none;
}
.navbar-dark .navbar-nav .nav-link{
	color:#fff !important;
	
}
.navbar-dark .navbar-nav .nav-link:hover{
	color:#7cbe5f !important;
	
}

.fa-lg{
	font-size:18px !important;
}
.ml-auto .nav-link{
	padding-right:0px !important;
	font-size:14px;
}
.content-wrapper{
	padding-top:3.5rem !important;
}
.center-form{
	max-width:500px;
}
.center-form label{
	
	padding-top:2px;
	padding-bottom:2px;
	font-size:14px;
	color:#386F3B;
}
.form-control{
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-radius:0px;
	border-color:#494949;
	padding-top:0px;
	padding-left:6px;
	padding-bottom:3px;
	font-size:14px;
	box-shadow:none !important;
	transition:none;

}
input[type="text"]:required{
	box-shadow: -4px 0 0 0px #fff, -5px 0 0 0 #b22222 !important;
	
}
select:required{
	box-shadow: -4px 0 0 0px #fff, -5px 0 0 0 #b22222 !important;
}

.form-control:focus{
	border-bottom:3px #7cbe5f solid;
}
.tp-form{
	font-size:14px;
	max-width:700px;
}
.txt-fld-brd{
	border:1px rgb(169, 169, 169) solid;
	width:auto;
	-moz-appearance: number-input;
	-webkit-appearance: number-input !important;
	height:25px;
	padding:0px;
	color:#000;
	font-size:14px;
	font-weight:600;
	padding-left:2px;
}
.hid-txt{
	font-weight:lighter;
	font-size:12px;
	width:72%;
	background-color:#f0f0f0;
	border:1px #cccccc solid;
	
}
.txt-hid-con{
	padding-left:20px;
}
.txt-hid-con label{
	margin-right:15px;
}
.global-container-two__quicklinks {
    list-style: none;
    font-size: 0.7rem;
    padding: 0;
	font-weight:400;
    margin-bottom: 0px;
	margin-top:15px;
}
.global-container-two__quicklinks li {
    display: inline;
    cursor: pointer;
}
.global-container-two__quicklinks li::before {
    content: '|';
    padding: 0 0.5rem;
    cursor: default;
}
.global-container-two__quicklinks li:nth-child(1)::before {
    content: '';
    padding: 0;
}
.center-form .np-l{
	padding-left:4px;
	position:relative;
}
.help-tp{
	position:absolute;
	top:0px;
	right:-8px;
	width:20px;
	height:20px;
	background-color:#e8e6e1;
	border-radius:75px;
	text-align:center;
	font-size:13px;
	font-style:italic;
	color:#333;
	font-weight:bold;
}
.f-row{
	margin-bottom:15px;
}
select.form-control:not([size]):not([multiple]){
	height:inherit !important;
}
.back-but{
	border:1px #494949 solid;
	padding: 0.3rem 1rem;
	font-size:14px;
	border-radius:3px;
	color:#494949;
	cursor:pointer;
	margin-right:10px;
	margin-left:10px;
	background-color:#fff;
}
.back-but:hover{
	background-color:#494949;
	color:#fff !important;
}
.blue-but{
	border:1px #3eb0f7 solid;
	padding: 0.3rem 1rem;
	font-size:14px;
	border-radius:3px;
	color:#3eb0f7;
	cursor:pointer;
	margin-right:10px;
	margin-left:10px;
	background-color:#fff;
}
.blue-but:hover{
	background-color:#3eb0f7 ;
	color:#fff !important;
}
.clear-but{
	border:1px #ff8c00 solid;
	padding: 0.3rem 1rem;
	font-size:14px;
	border-radius:3px;
	color:#ff8c00;
	cursor:pointer;
	margin-right:10px;
	margin-left:10px;
	background-color:#fff;
}
.clear-but:hover{
	background-color:#ff8c00;
	color:#fff;
}
.save-but{
	border:1px #386f3b solid;
	padding: 0.3rem 1rem;
	font-size:14px;
	border-radius:3px;
	color:#386f3b;
	cursor:pointer;
	margin-right:10px;
	margin-left:10px;
	background-color:#fff;
}
.save-but:hover{
	background-color:#386f3b;
	color:#fff;
}
.add-but{
	border:1px #3eb0f7 solid;
	padding-top:3px;
	padding-bottom:4px;
	font-size:14px;
	border-radius:3px;
	color:#3eb0f7;
	cursor:pointer;
	margin-right:10px;
	margin-left:10px;
	background-color:#fff;
}
.add-but:hover{
	background-color:#3eb0f7;
	color:#fff;
}
.buttonText{
	background-color:#3eb0f7;
	color:#fff;
	padding:8px 20px;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	font-size:13px;
}
.input-group .form-control{
	border-bottom:1px #3eb0f7 solid;
	border-top:1px #3eb0f7 solid;
	border-left:1px #3eb0f7 solid;
	margin-right:-12px;
	background-color:#FFF;
	padding-top:0px;
	padding-bottom:0px;
	height:34px;
	margin-top:3px;
	width:300px;
}
.file-input-con{
	width:350px;
}

.sidenav-toggled .toglle-but{
	left:6px;
	background:url(../images/Hamburger.jpg) no-repeat center center;
}
.sidenav-toggled .navbar-brand{
	left:56px !important;
}
.breadcrumb-item+.breadcrumb-item::before{
	content: "\f111"!important; /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
	font-size:8px;
	color:#494949;
}
.breadcrumb-item.active {
    color: #3b3d3e;
}
.breadcrumb-item{
	font-size:14px;
	color:##494949;
	padding-top:6px;
}
.breadcrumb-item a{
	font-size:14px;
	text-decoration:none;
}
.footer{
	background-color:#3e3e3e;
	position:fixed;
	bottom:0px;
	width:100%;
	height:60px;
}
.f-link{
	color:#fff;
	font-size:10px;
	text-decoration:none;
	position:absolute;
	right:20px;
	bottom:20px;

}
.f-link:hover{
	color:#fff;
	text-decoration:none;
}
.nav-link-text{
	font-size:14px;
}
.r-l-txt{
	display:inline-block;
	padding-right:10px;
	
}
.navbar-sidenav .nav-link:hover{
	background-color:#7cbe5f;
}
.dropdown-menu{
	left:-40px;
	background-color:#3e3e3e;
}
.dropdown-menu a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:10px;
	padding-right:10px;
	
	display:block;
}

.dropdown-menu a:hover{
	background-color:#7cbe5f;
}
#to-top {
    position: fixed;
    display: none;
    padding: 2px 7px;
    box-sizing: border-box;
    right: 1%;
    bottom: 10%;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(125,120,115,0.3);
    cursor: pointer;
	z-index:100000;
}

/*right side slide window style*/
.r-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: #3e3e3e;
    overflow-x: hidden;
   /* transition: 0.5s;*/
    padding-top: 60px;
}

.r-sidenav a {
    padding: 7px 8px 7px 15px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
	border-bottom:1px #fff solid;
    /*transition: 0.3s;*/
}

.r-sidenav a:hover {
    color: #fff;
	background-color:#7cbe5f;
}

.r-sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 3px;
    font-size: 74px;
	border:none;
	font-weight:lighter;
	line-height:0px;
	padding:0px;
	text-align:center;
}

#main {
    /*transition: margin-right .5s;*/
    
}
.r-sidenav .logo{
	position:absolute;
	top:7px;
	left:10px;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}
/*checkbox style*/

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/*quck action style*/
.quck-action{
	background-color:#b22222;
	color:#fff;
	text-align:left;
	padding:5px 22px;
	font-size:12px;
	border-radius:20px;
	cursor:pointer;
	position:relative;
}
.quck-action i{
	margin-left:6px;
	
}
.quick-drop{
	width:114px;
	background-color:#fff;
	color:#b22222;
	position:absolute;
	left:13px;
	top:28px;
	z-index:9978;
	border:1px #b22222 solid;
	display:none;
}
.quick-drop ul{
	list-style:none;
	padding:0px;
	margin:0px;
}
.quick-drop ul li a{
	padding:3px 10px 3px 4px;
	color:#b22222;
	display:block;
	text-decoration:none;
}
.quick-drop ul li a:hover{
	background-color:#b22222;
	color:#fff;
}
.quick-drop ul li a i{
	margin-left:0px;
	margin-right:5px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh - 112px); }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px); }
#mainNav.fixed-top .sidenav-toggler > .nav-item {
      width: 250px;
      padding: 0;
}
      #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
        padding: 1em; } }

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529; }
  #mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
    color: #adb5bd; }

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6; }
  #mainNav.fixed-top.navbar-light .sidenav-toggler a i {
    color: rgba(0, 0, 0, 0.5); }

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px; }
  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
    width: 55px !important; }

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH'; }

#mainNav.static-top .sidenav-toggler {
  display: none; }

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex; } }

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH'; }

.content-wrapper {
 /* overflow-x: hidden;*/
  background: white;
  padding-bottom:100px;
 
   }
  @media (min-width: 992px) {
    .content-wrapper {
      margin-left: 250px; 
	  
	  } 
	  
	  }

#sidenavToggler i {
  font-weight: 800; }

.navbar-sidenav-tooltip.show {
  display: none; }

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 0px; 
	
	} }

body.sidenav-toggled .navbar-sidenav {
  overflow-x: hidden ;
  width: 55px; display:none; }
  body.sidenav-toggled .navbar-sidenav .nav-link-text {
    display: none; }
  body.sidenav-toggled .navbar-sidenav .nav-item,
  body.sidenav-toggled .navbar-sidenav .nav-link {
    width: 55px !important; }
    body.sidenav-toggled .navbar-sidenav .nav-item:after,
    body.sidenav-toggled .navbar-sidenav .nav-link:after {
      display: none; }

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex; }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96; }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: #868e96; }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
    color: #adb5bd; }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: #868e96; }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
    color: #adb5bd; }

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: #adb5bd; }

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
      color: white !important;
      background-color: #495057; }
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
        color: white; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
      background: #343a40; } }

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5); }

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5); }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
    color: rgba(0, 0, 0, 0.7); }

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: rgba(0, 0, 0, 0.5); }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
    color: rgba(0, 0, 0, 0.7); }

#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: rgba(0, 0, 0, 0.5); }

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa; }
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
      color: #000 !important;
      background-color: #e9ecef; }
      #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
        color: #000; }
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
      background: #f8f9fa; } }

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg); }

@media (min-width: 576px) {
  .card-columns {
    column-count: 1; }
	
	 }

@media (min-width: 768px) {
  .card-columns {
    column-count: 2; } 
	
	}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2; } }

.card-login {
  max-width: 25rem; }

.card-register {
  max-width: 40rem; }

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px; }
  @media (min-width: 992px) {
    footer.sticky-footer {
      width: calc(100% - 250px); }
	  
	  
	   }

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px); } }
@media (max-width: 640px) {
	.toglle-but{
		display:none;
	}
	.navbar-brand{
		left:81px !important;
	}
	body.sidenav-toggled .navbar-sidenav{
		width:100%;
		display:block;
	}
	#mainNav.fixed-top .navbar-sidenav{
		height:auto !important;
	}
	body.sidenav-toggled .navbar-sidenav .nav-item, body.sidenav-toggled .navbar-sidenav .nav-link{
		width:100% !important;
	}
	body.sidenav-toggled .navbar-sidenav .nav-link-text{
		display:inline-block;
	}
	.navbar-dark .navbar-toggler{
		border:none;
	}
	.navbar-dark .navbar-toggler{
		cursor:pointer !important;
	}
	.ml-auto{
		display:inline !important;
	}
	.ml-auto .dropdown{
		
		float:left !important;
		display:inline-block !important;
	}
	.overlay{
		display:none;
	}
	.r-overlay{
	background-color: rgba(0, 0, 0, 0.9);
	}
	
}