


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <body>
  <div class="container login-con">
   	<div class="login-head"><img src="../assets/AY_assets/images/Ayiza-Logo.png"></div>
    <div class="login-wrap">
        	<div class="login-form">
            	<h1>Sign In</h1>
                 <div> 
  <div>
   <form #loginForm="ngForm" (ngSubmit)="loginUser()" >
  <div class="form-group">
    <label for="exampleInputEmail1"><i class="fa fa-user fa-fw content__input-icon" aria-hidden="true"></i>Username</label>
    <input 
        type="text" 
        required 
        class="form-control" 
        name="username" 
        #UserName="ngModel"
        autofocus
        [(ngModel)]="loginModel.username"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"><i class="fa fa-key fa-fw content__input-icon" aria-hidden="true"></i>Password </label>
    <input type="password" 
            required 
            class="form-control" 
            name="password"
            #Password="ngModel"
            [(ngModel)]="loginModel.password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
  </div>
  
  <div class="row switch-con clearfix">
  <div class="col-md-3">
  <div class="checkbox">
       <label  class="switch">
             <input type="checkbox">
 			 <span class="slider"></span>
        </label>
   </div>
   </div>
   <div class="col-md-9 no-pad-l" >Remember me on this device</div>
   </div>
  <div class="but-con"><input type="submit" class="btn green-but" value="Sign In" [disabled]="!loginForm.valid"><a  class="btn gray-but" href="../index.html">Home</a></div>
</form>
	<div class="login-links">
   	<a href="forgotusername.html" class="content__forgot-link">Forgot your username?</a><br>
    <a href="forgotpassword.html" class="content__forgot-link content__forgot-link--last">Forgot your password?</a>
    <p>Not registered? <input type="submit" class="content__signup-link" value="Sign Up"></p>
   </div>
  </div>
</div>
<div class="lang-select">
<label>Select a language: </label>
<select class="select-lang" data-placeholder="Choose a Language...">
          <option value="EN">English</option>
          <option value="AF">Afrikanns</option>
          <option value="SQ">Albanian</option>
          <option value="AR">Arabic</option>
          <option value="HY">Armenian</option>
          <option value="EU">Basque</option>
          <option value="BN">Bengali</option>
          <option value="BG">Bulgarian</option>
          <option value="CA">Catalan</option>
          <option value="KM">Cambodian</option>
          <option value="ZH">Chinese (Mandarin)</option>
          <option value="HR">Croation</option>
          <option value="CS">Czech</option>
          <option value="DA">Danish</option>
          <option value="NL">Dutch</option>
          <option value="ET">Estonian</option>
          <option value="FJ">Fiji</option>
          <option value="FI">Finnish</option>
          <option value="FR">French</option>
          <option value="KA">Georgian</option>
          <option value="DE">German</option>
          <option value="EL">Greek</option>
          <option value="GU">Gujarati</option>
          <option value="HE">Hebrew</option>
          <option value="HI">Hindi</option>
          <option value="HU">Hungarian</option>
          <option value="IS">Icelandic</option>
          <option value="ID">Indonesian</option>
          <option value="GA">Irish</option>
          <option value="IT">Italian</option>
          <option value="JA">Japanese</option>
          <option value="JW">Javanese</option>
          <option value="KO">Korean</option>
          <option value="LA">Latin</option>
          <option value="LV">Latvian</option>
          <option value="LT">Lithuanian</option>
          <option value="MK">Macedonian</option>
          <option value="MS">Malay</option>
          <option value="ML">Malayalam</option>
          <option value="MT">Maltese</option>
          <option value="MI">Maori</option>
          <option value="MR">Marathi</option>
          <option value="MN">Mongolian</option>
          <option value="NE">Nepali</option>
          <option value="NO">Norwegian</option>
          <option value="FA">Persian</option>
          <option value="PL">Polish</option>
          <option value="PT">Portuguese</option>
          <option value="PA">Punjabi</option>
          <option value="QU">Quechua</option>
          <option value="RO">Romanian</option>
          <option value="RU">Russian</option>
          <option value="SM">Samoan</option>
          <option value="SR">Serbian</option>
          <option value="SK">Slovak</option>
          <option value="SL">Slovenian</option>
          <option value="ES">Spanish</option>
          <option value="SW">Swahili</option>
          <option value="SV">Swedish </option>
          <option value="TA">Tamil</option>
          <option value="TT">Tatar</option>
          <option value="TE">Telugu</option>
          <option value="TH">Thai</option>
          <option value="BO">Tibetan</option>
          <option value="TO">Tonga</option>
          <option value="TR">Turkish</option>
          <option value="UK">Ukranian</option>
          <option value="UR">Urdu</option>
          <option value="UZ">Uzbek</option>
          <option value="VI">Vietnamese</option>
          <option value="CY">Welsh</option>
          <option value="XH">Xhosa</option>
        </select>
        <i class="fa fa-chevron-down"></i>
</div>
         </div>
    </div>
    <div class="footer">
    	<div class="footer-txt">
        	<ul>
            	<li>© 2017 Copyright Ayiza </li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>
    </div>
  </div>
<!-- Modal for displaying the messages -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Errors</h5>
            </div>

            <div class="modal-body">
                <!-- The messages container -->
                <div id="errors"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="to-top"  style="display:block;"><span><i class="fa fa-arrow-up fa-lg" aria-hidden="true" i=""></i></span></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/AY_assets/js/bootstrap.min.js"></script>
    <script>
$( document ).ready(function() {
	$('#to-top').fadeOut();
	$(window).scroll(function() {
    if ($(this).scrollTop()) {
        $('#to-top').fadeIn();
    } else {
        $('#to-top').fadeOut();
    }
});
$("#to-top").click(function() {
     $("html, body").animate({ scrollTop: 0 }, "slow");
     return false;
  });
 });
</script>
    <script>
		$(document).ready(function() {
			
		$('#loginForm')
        .formValidation({
            framework: 'bootstrap',
            err: {
                container: '#errors'
            },
            fields: {
                
                username: {
                    validators: {
                        notEmpty: {
                            message: 'The username is required'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 5 and less than 31 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        }
                    }
                },
                
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required'
                        },
                        different: {
                            field: 'username',
                            message: 'The password cannot be the same as username'
                        }
                    }
                },
                
                
            }
        })
        .on('err.form.fv', function(e) {
            // Show the message modal
            $('#messageModal').modal('show');
        });
			});
	</script>
    
    
  </body>